<% include ./partials/header %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wayne A. Silva | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='//fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/portfolio-style.css">
</head>
    <body>
        <nav>
            <ul>
                <a href="/"><li>MAIN</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="contact.html"><li>CONTACT</li></a>
            </ul>
        </nav>
        <div id="scalingwrapper">
            <section class="maincontent">
                <div id="headerwrap">
                    <header>
                        <div class="porticon">
                            <img src="img/arrow.png" alt="My webpage cover pic.">
                        </div>
                        <h1>Wayne Silva</h1>
                        <h2>Fullstack Developer</h2>
                    </header>
                    <hr>
                </div>
                <!-- <div class="coverpic">
                    <img src="img/coverpic.png" alt="My webpage cover pic.">
                </div> -->
                <section id="skills-container">
                    <div id="html">
                        <div id="html-skill-level"><i class="fab fa-html5"></i>HTML 100%</div>
                    </div>
                    <div id="css">
                        <div id="css-skill-level"><i class="fab fa-css3"></i>CSS 100%</div>
                    </div>
                    <div id="javascript">
                        <div id="js-skill-level"><i class="fab fa-js-square"></i>JS</div>
                    </div>
                    <div id="node">
                        <div id="node-skill-level"><i class="fab fa-node-js"></i>NODE</div>
                    </div>
                    <div id="python">
                        <div id="python-skill-level"><i class="fab fa-python"></i>PYTHON</div>
                    </div>
                    <div id="express">
                        <div id="express-skill-level"><i class="fas fa-code"></i>EXPRESS</div>
                    </div>
                    <div id="mongo">
                        <div id="mongo-skill-level"><i class="fas fa-code"></i>MONGODB</div>
                    </div>
                </section>  
            <section id="portfolio">
                <p id="featured">Featured Work</p>
                <div id="work">
                    <div class="column">
                        <div class="portobject1 background-color-1">
                            <a href="works/iFolio/index.html"><div class="site-name"><p>IFOLIO</p></div></a>
                            <!-- <a href="works/iFolio/index.html"><p>iFolio</p></a> -->
                        </div>
                        <div class="portobject2 background-color-2">
                            <a href="https://thawing-savannah-78074.herokuapp.com/articles"><div class="site-name"><p>BITNATION</p></div></a>
                            <!-- <a href="https://thawing-savannah-78074.herokuapp.com/articles"><p>bitNation</p></a> -->
                        </div>
                        <div class="portobject3 background-color-3">
                            <a href="https://warm-coast-75060.herokuapp.com/blogs"><div class="site-name"><p>RESTFUL</p></div></a>
                            <!-- <a href="https://warm-coast-75060.herokuapp.com/blogs"><p>RESTful Blog</p></a> -->
                        </div>
                    </div>
                    <div class="column">
                        <div class="portobject1 background-color-4">
                            <a href="works/CHITSU/index.htm"><div class="site-name"><p>CHITSU</p></div></a>
                            <!-- <a href="works/CHITSU/index.htm"><p>CHITSU</p></a> -->
                        </div>
                        <div class="portobject2 background-color-5">
                            <a href="works/HOKAI/index.html"><div class="site-name"><p>HOKAI</p></div></a>
                            <!-- <a href="works/HOKAI/index.html"><p>HOKAI</p></a> -->
                        </div>
                        <div class="portobject3 background-color-6">
                            <a href="works/SENBONZAKURA/SenbonzakuraMainPage.html"><div class="site-name"><p>SENBON</p></div></a>
                            <!-- <a href="works/SENBONZAKURA/SenbonzakuraMainPage.html"><p>SENBON</p></a> -->
                        </div>
                    </div>
                </div>
            </section>
                <footer>
                    <p>&copy;Wayne Silva 2015</p>
                </footer>
            </section>
        </div>
        <script src="scripts.js"></script>
    </body>
</html>
<% include ./partials/footer %>