/*********Imported Goods**********/
@import url(http://fonts.googleapis.com/css?family=Lato:100);
/*********************************/

/*********************************
General
*********************************/

/*********************************
Header
*********************************/
header {
    grid-row: 1;
    grid-column: 1 / -1;
}

header {
    grid-row: 1;
    grid-column: 2;
}
/*********************************
Body
*********************************/
#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
}

#clock-section {
    grid-row: 2;
    grid-column: 2;
}

.container {
    display: flex;
    justify-content: center;
    background: #FFF;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 8px 5px 10px rgb(223, 223, 223);
    border-radius: 3%;
    height: 100%;
}

#clock-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#clock-display > p {
    font-size: 4em;
    font-family: lato;
}
/*********************************
Nav
*********************************/

/*********************************
Footer
*********************************/
footer {
    grid-column: 2;
    grid-row: 3;
}
/*********************************
Color
*********************************/
   