/**************************************
	General
**************************************/
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
} 

.maincontent {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 0;
} 

a {
    text-decoration: none; 
} 

html {
    font-family: lato;   
} 

#scalingwrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/**************************************
	Classes used in DOM manipulation
**************************************/
.scaleUp {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}
/**************************************
	Header
**************************************/
header {
    position: relative;
} 

.porticon {
    width: 11%;
    margin: 0;
    position: absolute;
} 

h1 {
    width: 50%;
    text-align: right;
    font-weight: 100;
    font-size: 4em;
    margin: 0 0 0 50%;
    padding: 0;
} 

h2 {
    width: 50%;
    font-weight: 600;
    text-align: right;   
    font-style: italic;
    font-size: 1.5em;
    margin: 0 0 1em 50%;
    padding: 0;
} 

.headerwrap {
    width: 100%;
}
/**************************************
	Body
**************************************/
.content {
    display: -webkit-flex;
    display: flex;
} 

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid rgb(236, 236, 236);
    margin: 1em 0 2em 0;
    padding: 0;
} 

#skills-container {
    display: grid;
    grid-gap: 5px;
    max-width: 960px;
}

#skills-container > div {
    /* background-color: rgb(134, 255, 229); */
    background-color: rgb(247, 247, 247);
    font-size: 2em;
    font-weight: 800;
    /* border: 1px solid rgb(0, 78, 167); */
    /* border-radius: 1%; */
}

#skills-container > div > div {
    /* background-color: rgb(21, 253, 79); */
    color: rgb(59, 43, 43);
    opacity: 0.8;
    padding-left: 1%;
}

#html-skill-level {
    background-color: rgb(255, 60, 0);
    width: 100%;
}

#css-skill-level {
    background-color: rgb(21, 122, 253);
    width: 100%;
}

#js-skill-level {
    background-color: rgb(253, 249, 21);
    width: 80%;
}

#node-skill-level {
    background-color: rgb(83, 255, 126);
    width: 75%;
}

#python-skill-level {
    background-color: rgb(255, 252, 53);
    width: 90%;
}

#express-skill-level {
    background-color: rgb(121, 73, 255);
    width: 80%;
}

#mongo-skill-level {
    background-color: rgb(52, 202, 89);
    width: 100%;
}

#featured {
    font-size: 2em;   
}

#work {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
}

.column > div {
    opacity: 0.8;
}

.site-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    /* color: #FFF; */
    font-size: 1.5em;
}

.site-name > p {
    font-size: 2em;
    /* font-weight: 800; */
}

/* .coverpic {
    height:35%;
    max-width: 100%;
}  */

.portobject1 {
    display: flex;
    /* border: 1px solid lightgray; */
    height: 200px;
    width: 100%;   
    text-align: center;
    margin: 0 5px 5px 0;
} 

.portobject1 > a {
    height: 100%;
    width: 100%;
} 

.portobject2 {
    display: flex;
    /* border: 1px solid lightgray; */
    height: 200px;
    width: 100%;   
    text-align: center;
    margin: 0 5px 5px 0;
} 

.portobject2 > a {
    height: 100%;
    width: 100%;
} 

.portobject3 {
    display: flex;
    /* border: 1px solid lightgray; */
    height: 200px;
    width: 100%;   
    text-align: center;
    margin: 0 0 5px 0;
} 

.portobject3 > a {
    height: 100%;
    width: 100%;
} 

.aboutme {
    /* text-align: center; */
    font-weight: 800;
    max-width: 75%;
    margin: auto;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
} 

.contact {
    font-weight: 800;
    margin: auto;
}

/**************************************
	Footer
**************************************/
footer {
    text-align: center;
    margin: 0;
} 

/**************************************
	Color
**************************************/
a {
    color: #000;
}    

a:visited {
    color: #000;
} 

a:hover{
    color: #000;   
}

.column > div {
    background-color: rgb(53, 53, 53);
}

.site-name > p {
    color: rgb(255, 255, 255);
}

/* .background-color-1 {
    background-color: rgb(255, 60, 0);
}

.background-color-2 {
    background-color: rgb(21, 122, 253);
}

.background-color-3 {
    background-color: rgb(255, 252, 53);
}

.background-color-4 {
    background-color: rgb(83, 255, 126);
}

.background-color-5 {
    background-color: rgb(121, 73, 255);
}

.background-color-6 {
    background-color: rgb(52, 202, 89);
} */



/**************************************
	Nav
**************************************/
nav {
    margin: 0;
    padding: 0;
    text-align: center;
} 

nav ul {
    list-style: none;
} 

nav li {
    display: inline-block;
    font-size: 1.5em;
} 

/**************************************
    Media queries
**************************************/
/* 
@media (min-width: 600px) {
    .portobject1, 
    .portobject2, 
    .portobject3 {
        width: 100%;
        border: 1px solid black; 
    }
} */

@media (max-width: 960px){
  #work > .column{
      flex-direction: column;
   }

  .portobject1, 
  .portobject2, 
  .portobject3 {
      width: 100%;
      /* padding: 15%; */
      /* border: 1px solid black; */
   }
}

@media(max-width: 600px) {
    h1 {
        width: 50%;
        text-align: left;
        font-weight: 100;
        font-size: 4em;
        margin: 0;
        padding: 0;
    } 
    
    h2 {
        width: 50%;
        font-weight: 800;
        text-align: left;   
        margin: 0;
        padding: 0;
    } 

    .aboutme {
        max-width: 100%;
    } 
}

@media(max-width: 804px) {
    .porticon {
        display:none;
    }
}