* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    margin: 15px;
    padding: 65px 5% 5% 5%;
    /* width: 100%; */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-auto-rows: 75px; */
    grid-auto-flow: dense;
    /* grid-template-rows: 100px 100px; */
}

.container > div > img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 2%;
}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.border {
    border-bottom: 1px solid lightgrey;
}

/* media queries */
